@font-face {
       font-family: montserrat;
       src: url(../fonts/Montserrat-Regular.ttf) format("ttf");
    }
@font-face {
       font-family: montserrat;
       src: url(../fonts/Montserrat-Bold.ttf) format("ttf");
       font-weight: bold;
    }
@font-face {
       font-family: montserrat;
       src: url(../fonts/Montserrat-ExtraBold.ttf) format("ttf");
       font-weight: 900;
    }


:root {
  --byteclub-red: #e23c28;
  --byteclub-blue: #219ebc;
  --byteclub-button-blue: #16778f;
}


@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: 0 -1000px; }
}

body.byte-club-skin #main-content{
  background:black;
  background-image:url(../images/bc-splatter.jpg);
  font-family: montserrat !important;
  color:white;
  background-size: 100%;
  
  background-repeat: repeat-y;
  animation: animatedBackground 420s linear alternate infinite;
  min-height:100vh;

}


body.byte-club-skin.no-sidebars #search-results {
  margin-left: 10%;
  width: 80%;
}

body.byte-club-skin #main-content a{
  color:white;
}


body.byte-club-skin #main-content textarea, body.byte-club-skin #main-content input{
  color:#000000;
}

body.byte-club-skin #main-content input.button{
  color:#ffffff;
  background: var(--byteclub-blue)
}

body.byte-club-skin #main-content #badge-filters {
  display:none;
}

body.byte-club-skin #main-content #badge-list{
  text-align:center;
}


body.byte-club-skin #main-content #record-image-metadata{
  background-color:transparent;
}


body.byte-club-skin #record-info {
  box-sizing: border-box;
  padding-right: 1em;
}

body.byte-club-skin #block-aadl-content {
  box-sizing: border-box;
  padding: 1em;
}

body.byte-club-skin .t-center.ruled-heading.large-heading {
  margin-top: 0.1em;
  font-size: 6rem;
  font-weight:900;
}


body.byte-club-skin .sg-badge-progress-bar[value]::-moz-progress-bar {
  background-color: var(--byteclub-blue);
}






  .byteclub-top-menu{
    display:flex;
    justify-content: flex-start;
  }

  .byteclub-top-menu a{

    padding: 1em 0.8em;
    margin: 0 1em;

  }

    body.byte-club-skin #main-content a.bc-link {
      color: #219ebc;
      text-decoration: none;
      font-family: "montserrat";
      font-weight: bold;
      font-size: 1.3em;
      align-self:center;
    }

    body.byte-club-skin #main-content a.bc-link:hover {
      color: var(--byteclub-red);
      text-decoration:underline;
    }

    body.byte-club-skin #main-content .button:hover {
      background: var(--byteclub-red);
      text-decoration:underline;
    }

  .byteclub-top-menu .bc-logo{
    display:block;
    width: 8em;
    margin-left:2em;
  }

  .byteclub-top-menu .bc-logo img{
      width:100%;
  }

  .byteclub-big-logo{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .byteclub-big-logo img {
    margin-top:3em;
      width:70%;
      margin-bottom: 5em;
  }

body.byte-club-skin #main-content .md-margin{
  width:80%;
  margin-left:10%;
}


body.byte-club-skin #main-content #summergame-self-award-form a {
  color: #000;
}

body.byte-club-skin #main-content #summergame-self-award-form {
  color: #000;
}

body.byte-club-skin #main-content #summergame-self-award-form th {
  padding-left: 1em;
}

body.byte-club-skin #main-content #summergame-self-award-form .button{
  background:var(--byteclub-red);
}
body.byte-club-skin #main-content #summergame-self-award-form .button:hover{
  background:var(--byteclub-blue);
}

body.byte-club-skin #main-content #summergame-self-award-form .button[disabled]{
  background:var(--byteclub-blue);
}


    /*
    * tablet
    */

  @media only screen and (max-width: 900px) {

    .byteclub-top-menu .bc-logo{
      display:none;
    }
     
    }

    /*
    * mobile
    */
    @media only screen and (max-width: 600px) {
        .byteclub-top-menu{
          flex-wrap: wrap;
        }

        .bc-link {
          font-size: 1em;
        }
      

      .byteclub-top-menu a {
          padding: 0.5em 0.5em;
          margin: 0 0.5em;
        }

        .byteclub-big-logo img {
      margin-top:1em;
          width:70%;
          margin-bottom:2em;
      }
  
    }



/*
* admin editing defaults
*/

body.byte-club-skin #main-content .contextual-links{
  color:#333333;
}


body.byte-club-skin #main-content .contextual-links a{
  color:#333333;
}