#summergame-self-award-form .button {
  width: 100%;
}
#summergame-self-award-form .button[disabled] {
  color: #1f4273;
  background-color: #e5edf8;
}
#summergame-live-points {
  font-size: 1.25em;
  font-weight: bold;
  border: 2px solid #999;
  margin: 1em;
  padding: 0.5em;
  text-align: center;
}
.access_player {
  background: repeating-linear-gradient(
    45deg,
    #fff9f9,
    #fff9f9 10px,
    #00000000 10px,
    #00000000 20px
  );
}
#summergame-player-quick-transfer-form {
  width: 100%;
}

.container-inline {
  text-align: center;
}
.container-inline div,
 .container-inline label {
   display: inline-block;
 }
 .container-inline .form-item > * {
   margin: 0 0.5em 0 0;
 }
 /* Details contents always need to be rendered as block. */
 .container-inline .details-wrapper {
   display: block;
 }
 .container-inline .hidden {
   display: none;
 }
 .container-inline input[type="text"] {
   width: unset;
 }
