#summergame-player-page table {
  width: 100%;
}

#summergame-player-page #player-info-table {
  margin-right: 220px;
}

#summergame-player-page #player-earn-links {
  width: 210px;
  float: right;
}

#summergame-player-page #player-earn-links h2 {
  margin-top: 0;
  text-align: right;
}

#summergame-player-page #scorecard-total {
  text-align: right;
}

#summergame-player-page #summergame-extra-player {
  background-color: #EEE;
  padding: 10px;
  border: 1px solid #CCC;
  margin-top: 10px;
}
