<div class="aaps-school" id="aaps-school">
<img src="{{ school_image }}" class="aaps-school-image"  />
<a href="/summergame/aaps/code/{{ code_url }}" title="{{ label }}" class="aaps-school-code-box"></a>
</div>
