<p>Click on a school to search for AADL Summer Game codes hidden in the photos.</p> 
<p>When you spot the code, click or tap to see it full-size!</p>
<p>Enter the codes at <a href="https://play.aadl.org">play.aadl.org</a> to earn points in the Summer Game!</p>
<div class="aaps-map" id="aaps-map"></div>
