<p>Click on a school to search for AADL Summer Game codes!<p>
<p>Enter them at <a href="https://play.aadl.org">play.aadl.org</a> to earn points in the Summer Game!<p>
<div class="aaps-map" id="aaps-map"></div>
