<div class="aaps-code" id="aaps-code">
<img src="{{ code_url }}" class="aaps-school-image" alt="{{ code }}" />
<p class="acc-text">You found summer game code</p>
<p class="acc-text">{{ code }}</p>
</div>
