<div class="aadl-toggle aadl-toggle-main-theme">
  <div  class="sidebar-summbergame-logo">
    <a href="/ByteClub" title="Go to Byte Club home">
      <img src="/modules/custom/summergame/images/byteclub-logo.svg" alt="Byte Club Logo">
    </a>
  </div>
  
  <input class="aadl-toggle-check" type="checkbox" tabindex="0" aria-label="Toggle menu with space bar">

    <div class="aadl-toggle-text">
      <span class="mobile-only">Show {{ sidebar_menu_title_mobile }}</span>
      <span class="desktop-only">{{ sidebar_menu_title_desktop }}</span>
      <div class="aadl-toggle-arrow mobile-only">
        <span class="aadl-toggle-arrow-top"></span>
        <span class="aadl-toggle-arrow-bottom"></span>
      </div>
    </div>
  

  <div class="aadl-toggle-content no-desktop-toggle">
      <div class="aadl-toggle-content-inner">
         
             <ul>
              <li>
                <ul>
                    <li class="section-head"><a href="/byte-club-get-started">Get Started</a></li>
                    <li class="section-head"><a href="/what-is-byte-club">What is Byte Club?</a></li>
                    <li class="section-head"><a href="/summergame/badgelist/byteclub">What is Byte Club?</a></li>
                </ul>
              </li>

             </ul>

        </div>
    </div>
</div>
