<div class="byteclub-top-menu">

      <a class="bc-logo" href=""><img src="/modules/custom/summergame/images/byteclub-logo.svg" /></a>
      <a class="bc-link" href="/byteclub">WHAT IS BYTE CLUB?</a>
      <a class="bc-link" href="">GETTING STARTED</a>
      <a class="bc-link" href="/summergame/badgelist/byteclub">BITS & BADGES</a>
      <a class="bc-link" href="/user/login">SIGN IN</a>
      

</div>
