<div class="byteclub-top-menu">
      <a class="bc-logo" href="/byteclub"><img src="/modules/custom/summergame/images/byteclub-logo.svg" /></a>
      <a class="bc-link" href="/byteclub">WHAT IS BYTE CLUB?</a>
      <a class="bc-link" href="/byteclub_get_started">GETTING STARTED</a>
      <a class="bc-link" href="/byteclub_bits">BITS</a>
      <a class="bc-link" href="/summergame/badgelist/byteclub">BADGES</a>
</div>