<h1 class="t-center ruled-heading large-heading"><span>Badge List</span></h1>
<div>
  <div class="page-with-sidebar-content">
    <div id="badge-list">
      
    </div>
  </div>
  {% include directory ~ "/templates/base/user/user-sidebar.html.twig" %}
</div>
