<h1 class="t-center ruled-heading large-heading"><span>Redeem a Game Code</span></h1>
<div>
  <div class="page-with-sidebar-content">
    {{ redeem_form }}
  </div>
  {% include directory ~ "/templates/base/user/user-sidebar.html.twig" %}
</div>
